
.cardFrontDiv{
    width: 950px;
    height: 480px;
}
.cardFrontLeft{
    margin-left: 30px;
    margin-top: 10px;
    width: 350px;
    height: 450px;
    float: left;
}
.cardFrontLeft p{
    margin-left: 20px;
}

.cardFrontRight{
    width: 450px;
    height: 400px;
    margin-top: 30px;
    float: right;
}

#changePhoto{
    position: absolute;
    margin-top: 15px;
    margin-left: 100px;
}
#uploadPhoto{
    position: absolute;
    margin-top: 15px;
    margin-left: 220px;
}

#nextStep{
    margin-left: 20px;
    background: #5DD5C8;
    color: #ffffff;
}
#previousStep{
    margin-left: 140px;
    background: #5DD5C8;
    color: #ffffff;
}

.img-container{
    width: 300px;
    height: 180px;
}