<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wyxeainn.mapper.CityMapper">
    <insert id="insertProvince" parameterType="City">
        insert into t_province set province=#{province},city=#{city}
    </insert>

    <insert id="insertCity" parameterType="City">
        insert into t_city set city=#{city},zone=#{zone}
    </insert>

    <select id="getProvince" resultType="City">
        select * from t_province
    </select>

    <select id="getCitys" parameterType="String" resultType="String">
        select distinct city from t_city where city like #{city}
    </select>

    <select id="getZones" parameterType="String" resultType="String">
        select zone from t_city where city=#{city}
    </select>
</mapper>